<section class="content-header">
    <h1>Command<small>Mission Control</small></h1>
    <!--<ol class="breadcrumb">-->
    <!--    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>-->
    <!--    <li class="active">Here</li>-->
    <!--</ol>-->
</section>
<section class="content">
    <section ng-controller="commandController">
        <p>#주의 : 현재 이 패널은 s/n 'abcdef' 를 위한 원격 제어 테스트 패널입니다.</p>
        <h2>제어 권한 제어</h2>
        <button class="btn bg-purple margin" ng-click ="commandTask(1)">Obtain (획득)  </button>
        <button class="btn bg-purple margin" ng-click ="commandTask(2)">Release (상실)   </button><br>
        <h2>이착륙 제어</h2>
        <button class="btn bg-purple margin" ng-click ="commandTask(3)">Take Off (이륙)  </button>
        <button class="btn bg-purple margin" ng-click ="commandTask(4)">Landing (착륙)   </button><br>
        <h2>시동제어</h2>
        <button class="btn bg-purple margin" ng-click ="commandTask(5)">Arm (시동)       </button>
        <button class="btn bg-purple margin" ng-click ="commandTask(6)">Disarm (시동해제)</button>
    	<!--<ul>-->
     <!--       <li ng-repeat="person in people">-->
    	<!--			  {{person.fname}}-->
    	<!--		  </li>-->
     <!--     </ul>-->
    </section>
   
</section>
