<section class="content-header">
    <h1>Command<small>Mission Control</small></h1>
    <!--<ol class="breadcrumb">-->
    <!--    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>-->
    <!--    <li class="active">Here</li>-->
    <!--</ol>-->
</section>
<section class="content">
    <section ng-controller="commandController">
    	<!--<ul>-->
     <!--       <li ng-repeat="person in people">-->
    	<!--			  {{person.fname}}-->
    	<!--		  </li>-->
     <!--     </ul>-->
    </section>
   
</section>
